<div>
    <h1>
    The resource you are looking for does not exist!
    </h1>
    <div class="ascii-art">
        <pre>
___   ___  ________  ___   ___      
|\  \ |\  \|\   __  \|\  \ |\  \    
\ \  \\_\  \ \  \|\  \ \  \\_\  \   
 \ \______  \ \  \\\  \ \______  \  
  \|_____|\  \ \  \\\  \|_____|\  \ 
         \ \__\ \_______\     \ \__\
          \|__|\|_______|      \|__|
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
            </pre>
        </div>
</div>